---
import Layout from '../layouts/layout.astro';
---

<Layout title='ao3downloader installation' description='install ao3downloader, a tool for downloading fanfiction in bulk from the archive of our own'>
  <div class='flex flex-col items-center px-3 mx-auto max-w-md'>
    <a class='rounded w-full text-center my-8 p-4 m-5 bg-nia-primary italic' href=`${import.meta.env.BASE_URL}/windows`>Click here for Windows instructions</a>
    <hr class='border-b border-0 border-nia-primary w-full' />
    <a class='rounded w-full text-center my-8 p-4 m-5 bg-nia-primary italic' href=`${import.meta.env.BASE_URL}/mac-linux`>Click here for Mac and Linux instructions</a>
  </div>
</Layout>
